/* -- custom css for Bootstrap 3.x --*/

/* move special fonts to HTML head for better performance */
@import url(http: //fonts.googleapis.com/css?family=Voltaire);

html,
body {
  height: 500%;
  width: 100%;
  font-family: co;
  //font-family: Arial,sans-serif;
  overflow: hidden;
  overflow-x: hidden;
}

/* fix bs3 horizontal scrollbar bug */
.row { margin: 0; padding: 0 }


/* use special fonts in certain elements */
h1,h2,h3,h4,.btn,.navbar a {
  text-transform: uppercase;
  font-family: co;
  //font-family: "Voltaire",Arial,sans-serif;
  letter-spacing: 2px;
}

.glass {
  position: relative;
  top: 45px;
}

.lead {
  font-family: co;
  //font-family: "Voltaire",Arial,sans-serif;
  letter-spacing: 2px;
}

.lowercase {
  text-transform: lowercase;
}

/* make images gray */
img.grayscale {
    filter: url("data: image/svg+xml;utf8,<svg xmlns=\"http: //www.w3.org/2000/svg\"><filter id=\"grayscale\"><feColorMatrix type=\"matrix\" values=\"0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\"/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.icon-bar {
   background-color: #fff;
}

.scroll-down a, .scroll-top a {
   color: #ffffff;
}

.scroll-down {
   position: fixed;
   bottom: 5%;
   left: 50%;
   //margin-left: auto
   //margin-right: auto
   color: #ffffff;
}

.scroll-top {
  background-color: #dbdbdb;
}

.vert {
  vertical-align: middle;
  width: 100%;
  padding-top: 4%;
  text-align: center;
}

/**/
.navbar .btn-sm {
   font-size: 12px;
   border-color: black;
   padding: 5px;
   background-color: transparent;
   color: black;
}

.nav .btn-lg: hover {
   background-color: white;
   color: #777777;
}
/**/
.navbar a {
  color: #fff;
  font-size: 14px;
}

.navbar-bold.affix {
  background-color: #d46054;
}

.section {
  background-color: #ffffff;
}

.navbar-bold {
  background-color: #f68076;
  font-family: co;
  //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-bold li a: hover, .navbar-bold li.active {
  background-color: #d46054;
}


.header h1 {
  //font-size: 80px;
  -webkit-text-stroke: 1px rgba(f,f,f,0.1);
  color: #431a6d;
  color: #fff;
  margin-left: -5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.header .lead {
  color: #d46054;
  //font-size: 25px;
}

.header {
  height: 80%;
  background: #f68076 url("../assets/pt_topo_l.png") repeat center center fixed;
}

/* use alt in navbar and header for different color */

.alt {
  background-color: transparent;
}

.lead-image {
  color: #1E0940;
  text-shadow: 5px 5px 18px #1E0940;

}

.alt .lead {
  color: #1E0940;
  text-shadow: 5px 5px 18px #1E0940;

}

//.alt.affix {
// background-color: #4C06AB;
//}

.alt li a: hover, .alt li.active {
  background-color: #5D17BA;
}



.blurb {
  padding: 120px 0;
  //background-color: #fefefe;
  background-color: rgba(0, 0, 0, 0.08);
}

.blurb .panel {
  background-color: transparent;
}

.bright {
  background: #dbdbdb url("../assets/pt_topo.png") repeat center center fixed;
  color: #777;
}

.featurette {
  background: #222334;
  padding: 50px 0;
  color: #191212;
}

.featurette-item {
  margin-bottom: 15px;
}

.callout {
  color: #ffffff;
  padding-top: 7%;
  height: 100%;
  width: 100%;
  background: url("../assets/bg_suburb.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gallery {
  padding: 50px 0;
}

.call-to-action {
  background: #eeeeee;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

footer {
  padding: 100px 0;
}

.header .btn-lg {
   border-color: black;
   padding: 15px;
   background-color: transparent;
   color: black;
}

.header .lead {
  text-transform: uppercase
}

.featurette-item > i {
  width: 66%;
  height: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.featurette-detail > i {
  width: 100%;
  height: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}


/* Small Screens ----------- */
@media only screen and (min-width : 200px) and (max-width : 319px) {
.icon {
  font-size: 32px;
}

.featurette-item > i {
  font-size: 32px;
}

h1 {
  font-size: 32px;
}

.header .lead {
  font-size: 16px;
}

.header .btn-lg {
   font-size: 16px;
}

.featurette-detail > i {
  font-size: 48px;// 1.5 of h1 font
}

h4 {
  font-size: 12px;// 0.375 of h1 font
}

.lead {
  font-size: 11px;// 0.33 of h1 font
}

}

/* Smartphones ----------- */
@media only screen and (min-width : 320px) and (max-width : 479px) {
.icon {
  font-size: 32px;
}

.featurette-item > i {
  font-size: 32px;
}

h1 {
  font-size: 32px;
}

.header .lead {
  font-size: 16px;
}

.header .btn-lg {
   font-size: 16px;
}

.featurette-detail > i {
  font-size: 48px;// 1.5 of h1 font
}

h4 {
  font-size: 12px;// 0.375 of h1 font
}

.lead {
  font-size: 11px;// 0.33 of h1 font
}

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 480px) and (max-width : 767px) {
.icon {
  font-size: 32px;
}

.featurette-item > i {
  font-size: 32px;
}

.featurette-item > i {
  border: 1px solid #ffffff;
  border-radius: 5%;
}

h1 {
  font-size: 32px;
}

.header .lead {
  font-size: 16px;
}

.header .btn-lg {
   font-size: 16px;
}

.featurette-detail > i {
  font-size: 48px;// 1.5 of h1 font
}

h4 {
  font-size: 12px;// 0.375 of h1 font
}

.lead {
  font-size: 11px;// 0.33 of h1 font
}

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1023px) {
.icon {
  font-size: 44px;
}

.featurette-item > i {
  font-size: 44px;
}

.featurette-item > i {
  border: 1px solid #ffffff;
  border-radius: 5%;
}

h1 {
  font-size: 44px;
}

.header .lead {
  font-size: 22px;
}

.header .btn-lg {
   font-size: 22px;
}

.featurette-detail > i {
  font-size: 66px;// 1.5 of h1 font
}

h4 {
  font-size: 17px;// 0.375 of h1 font
}

.lead {
  font-size: 15px;// 0.33 of h1 font
}

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) and (max-width : 1599px) {
.icon {
  font-size: 44px;
}

.featurette-item > i {
  font-size: 44px;
}

.featurette-item > i {
  border: 1px solid #ffffff;
  border-radius: 5%;
}

h1 {
  font-size: 44px;
}

.header .lead {
  font-size: 22px;
}

.header .btn-lg {
   font-size: 22px;
}

.featurette-detail > i {
  font-size: 66px;// 1.5 of h1 font
}

h4 {
  font-size: 17px;// 0.375 of h1 font
}

.lead {
  font-size: 15px;// 0.33 of h1 font
}

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1600px) and (max-width : 1823px) {
.icon {
  font-size: 56px;
}

.featurette-item > i {
  font-size: 112px;
}

.featurette-item > i {
  border: 1px solid #ffffff;
  border-radius: 5%;
}

h1 {
  font-size: 56px;
}

.header .lead {
  font-size: 28px;
}

.header .btn-lg {
   font-size: 28px;
}

.featurette-detail > i {
  font-size: 84px;// 1.5 of h1 font
}

h4 {
  font-size: 21px;// 0.375 of h1 font
}

.lead {
  font-size: 19px;// 0.33 of h1 font
}

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
.icon {
  font-size: 56px;
}

.featurette-item > i {
  font-size: 112px;
}

.featurette-item > i {
  border: 1px solid #ffffff;
  border-radius: 5%;
}

h1 {
  font-size: 56px;
}

.header .lead {
  font-size: 28px;
}

.header .btn-lg {
   font-size: 28px;
}

.featurette-detail > i {
  font-size: 84px;// 1.5 of h1 font
}

h4 {
  font-size: 21px;// 0.375 of h1 font
}

.lead {
  font-size: 19px;// 0.33 of h1 font
}

}

/* -- end custom css for Bootstrap 3.x --*/