<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Aetos Kodika</title>
    <meta name="generator" content="Bootply"/>
    <meta name="viewport" content="width=device-width">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <!--<link href="{% static 'plugins/onepage-scroll/onepage-scroll.css' %}">-->
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '461446270669095',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>
<div class="main">
    <nav class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000">
        <div class="container" style="text-align: center; display: none">
            <a href="#" class="btn btn-default btn-sm">Home</a>
        </div>
    </nav>

    <!-- === Projects List - Start === -->
    <div class="blurb callout section" id="currentScroll"
         style="background-image: url('{% static 'assets/tc_background.jpg' %}');">
        <div class="container">

            <h1 style="color: rgb(255, 255, 255); text-shadow: 5px 5px 15px;">Twitter Clone</h1>

            <p style="color: rgb(0, 0, 0); text-shadow: 5px 5px 15px;">
                <a href="{% url 'tc_landing_page' %}">Why so serious? Have a chat</a>
            </p>
        </div>
    </div>

    <div class="blurb callout section"
         style="background-image: url('{% static 'assets/tc_background.jpg' %}');">
        <div class="container">

            <h1 style="color: rgb(255, 255, 255); text-shadow: 5px 5px 15px;">Twitter Clone</h1>

            <p style="color: rgb(0, 0, 0); text-shadow: 5px 5px 15px;">
                <a href="{% url 'tc_landing_page' %}">Why so serious? Have a chat</a>
            </p>
        </div>
    </div>

    <div class="blurb callout section"
         style="background-image: url('{% static 'assets/battle-image.png' %}');">
        <div class="container">

            <h1 style="color: rgb(255, 255, 255); text-shadow: 5px 5px 15px;">Defense Keeda</h1>

            <p style="color: rgb(0, 0, 0); text-shadow: 5px 5px 15px;">
                Know the difference between Roger and Affirmative
            </p>
        </div>
    </div>

    <div class="blurb callout section"
         style="background-image: url('{% static 'assets/battle-attack-weapons.png' %}');">
        <div class="container">

            <h1 style="color: rgb(255, 255, 255); text-shadow: 5px 5px 15px;">ASP</h1>

            <p style="color: rgb(0, 0, 0); text-shadow: 5px 5px 15px;">
                Rock Paper Scissors Meet Battleship
            </p>
        </div>
    </div>
    <!-- === Projects List - End === -->

    <!-- === Scroll Chevron - Start === -->
    <ul class="nav scroll-top">
        <li>
            <a href="#" title="Scroll to top">
                <i id="main-nav" style="opacity: 0.0;color: #ffffff" class="icon-chevron-down icon-3x"></i>
            </a>
        </li>
    </ul>

    <ul class="nav scroll-down">
        <li>
            <a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i>
            </a>
        </li>
    </ul>
    <!-- === Scroll Chevron - End === -->

</div>
</body>

<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'plugins/mousewheel/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'plugins/package-quojs-2.3.6/quo.js' %}"></script>
<script>

  $$(document).swipe(function(event){
    event.preventDefault()
    scrollDown()
  })


</script>
</html>